<h2 mat-dialog-title>Delete Client</h2>
<mat-dialog-content>
  Souhaitez-vous supprimer ce client ?
</mat-dialog-content>
<mat-dialog-actions>
  <div mat-dialog-actions class="d-flex justify-content-center">
    <button  mat-button [mat-dialog-close]="data" cdkFocusInitial style="background-color: #7ed957;" center>confirmer</button>
  </div>
  <div mat-dialog-actions class="d-flex justify-content-center">
    <button  mat-button [mat-dialog-close]="data" cdkFocusInitial style="background-color: #7ed957;" center>annuler</button>
  </div>
</mat-dialog-actions>
