<body>
  <app-navigate></app-navigate>

  <section>
    <div class="container">
      <input [(ngModel)]="searchTerm" type="text" placeholder="Search..." (keyup)="search()" />
      <button class="search"></button>
    </div><br>

    <!--for demo wrap-->
    <h1>List des Salaries</h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Date de Naissance</th>
            <th>Adresse</th> <!-- Moved 'Adresse' header here -->
            <th>Pays</th>
            <th>Matricule</th>
            <th>Numéro de Sécurité Sociale</th>
            <th>Date d'Entrée</th>
            <th>Date de Sortie</th>
            <th>Emploi</th>
            <th>Position</th>
            <th>Coefficient</th>
          </tr>
        </thead>
   
        <tbody>
          <tr *ngFor="let salary of salaries" [class.selected]="selectedSalary === salary">
            <td (click)="viewDetails(salary)">{{ salary.prenom }}</td>
            <td (click)="viewDetails(salary)">{{ salary.nom }}</td>
            <td (click)="viewDetails(salary)">{{ salary.dateNaiss}}</td>
            <td (click)="viewDetails(salary)">{{ salary.adresse }}</td> 
            <td (click)="viewDetails(salary)">{{ salary.pays }}</td> 
            <td (click)="viewDetails(salary)">{{ salary.matricule }}</td>
            <td (click)="viewDetails(salary)">{{ salary.numSS }}</td>
            <td (click)="viewDetails(salary)">{{ salary.dateEntre }}</td>
            <td (click)="viewDetails(salary)">{{ salary.dateSortie }}</td>
            <td (click)="viewDetails(salary)">{{ salary.emploi }}</td>
            <td (click)="viewDetails(salary)">{{ salary.position }}</td>
            <td (click)="viewDetails(salary)">{{ salary.coefficient }}</td>
            <td><i class="material-icons" style="font-size:20px;color:red" (click)="deleteCompte(salary.id)">delete</i>
            </td>
          </tr>  
        </tbody>
      </table>
    </div>
    

  </section>
</body>
