<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <img src="/assets/logooo.png" alt="Logo" width="100">
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="#">Deconnecter</a>
  </div>


  <div class="nav-links">
    <a href="#">Configuration</a>
    <div class="dropdown-content">
      <a href="#" routerLink="/list" >gestion utilisateur</a>
      <a href="#" routerLink="/list" >gestion ref utilisateur</a>
      <a href="#" routerLink="/list" >referance</a>
    </div>
  </div>


  <div class="nav-links">
    <a href="#">Gestion solde</a>
    <div class="dropdown-content">
      <a href="#">solde unit</a>
      <a href="#">solde global</a>
    </div>
  </div>


  <div class="nav-links">
    <a  href="#" routerLink="/home" routerLinkActive="active">Simulation</a>
  </div>


  <div class="nav-links">
    <a href="#">Dashboard</a>
  </div>

  
  <div class="nav-links">
    <a href="/" routerLink="/list" routerLinkActive="active">simulateurs</a>
  </div>


  <div class="nav-links">
    <a href="/" routerLink="/salaries" routerLinkActive="active">salarie</a>
  </div>


  <div class="nav-links">
    <a href="/" routerLink="/search" routerLinkActive="active">salaries</a>
  </div>



</div>